body {
  background: #0B1F3A;
  color: white;
  font-family: sans-serif;
}

.container {
  max-width: 480px;
  margin: auto;
  padding: 20px;
}

input, select {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
}

button {
  width: 100%;
  padding: 10px;
  background: #22C55E;
  border: none;
}